* {
    -fx-primary-color: #151D3B;
    -fx-secondary-color: #D82148;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}
.main-background{
    -fx-background-color: -fx-secondary-color;
}

.company-name{
    -fx-text-fill: white;
    -fx-font-family: "DIN Condensed";
    -fx-font-size: 46px;
}

.nav{
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 25px;
}


.navBtn{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "DIN Condensed";
    -fx-font-size: 28;
    -fx-padding: 0 0 0 30;

}
.navBtn:hover{
    -fx-background-color: -fx-secondary-color;
    -fx-padding: 0 0 0 50;
}




.addBtn{
    -fx-background-color: -fx-primary-color;
    -fx-font-size: 20;



}
.addBtn:hover{

    -fx-background-color: rgba(21, 29, 59, 0.5);
}

.ClearBtn{
    -fx-background-color: -fx-secondary-color;
    -fx-font-size: 20;


}
.ClearBtn:hover{

    -fx-background-color: rgba(216, 33, 72, 0.5);
}

.UpdateBtn{
    -fx-background-color: rgba(151, 177, 166, 1);
    -fx-font-size: 20;


}
.UpdateBtn:hover{

    -fx-background-color: rgba(151, 177, 166, 0.5);
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color:  rgba(21, 29, 59, 0.7),white;
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5;

}
.text-field:focused {
    -fx-background-color:  white,rgba(216, 33, 72, 0.5);
}

.big-label{
    -fx-font-size: 30px;
    -fx-text-fill: -fx-primary-color;
    -fx-font-family: "DIN Condensed";
}
.small-label{
    -fx-font-size: 24px;
    -fx-text-fill: -fx-secondary-color;
    -fx-font-family: "DIN Condensed";
}

.table-view{

    -fx-background-color:  rgba(21, 29, 59, 0.3);
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

.table-view .column-header-background{
    -fx-background-color: rgba(216, 33, 72, 0.5);
    -fx-background-insets: 0 0 10 0;
    -fx-background-radius: 10px;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box,rgba(21, 29, 59, 0.7),15,0.0,0.1,3);
}

.table-column {
    -fx-alignment: CENTER;

}

.table-view .column-header , .table-view .filler{
    -fx-font-size: 20;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}


.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 5 0 2 5px;

}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -fx-secondary-color;

}
.table-row-cell:odd{
    -fx-background-color: rgba(216, 33, 72, 0.3);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: rgba(216, 33, 72, 0.1);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.square{
    -fx-background-color: rgba(216, 33, 72, 0.5);
    -fx-background-radius: 20;
}

